{{outlet}}

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h2 class="">Available Now!!!</h2>
          {{#each model as |value|}}
          <div class="box">
            <h3 class="subtitle">{{value.name}}</h3>
            <ul>
              {{#each value.games as |item|}}
              {{log item}}
              <li class="game box">
                {{item.name}}
                <button class="button is-primary" {{action 'addToCart' game}}>
                  Add to Cart
                </button>
              <li>Released {{item.releaseDate}}</li>
              <li>{{item.playerMin}} - {{item.playerMax}} Players</li>
              <li>Average Play Time: {{item.avgPlayTime}} minutes</li>
            </li>
              {{/each}}
            </ul>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h3 class="subtitle">Cart</h3>
          {{#each cart.items as |cartItem|}}
            <li>{{cartItem.data.name}} - {{cartItem.quantity}}</li>
          {{/each}}
          {{cart.items.length}}
        </div>
      </div>
    </div>
  </div>
</div>

{{#promise-dialog as |resolve reject dialog|}}
<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-card">
      <header class="modal-card-head">
        <button class="delete"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <p>{{dialog.message}}</p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary">Ok</button>
        <button class="button">Ok</button>
      </footer>
    </div>
  </div>
</div>
{{/promise-dialog}}
