{{outlet}}

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h2 class="">Available Now!!!</h2>
          {{#each model as |value|}}
          <div class="box">
            <h3 class="subtitle">{{value.name}}</h3>
            <ul>
              {{#each value.games as |item|}}
              {{log item}}
              <li>{{item.name}}</li>
              <li>{{item.playerMin}} - {{item.playerMax}} Players</li>
              <li>{{item.name}}</li>
              <li>{{item.name}}</li>
              {{/each}}
            </ul>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
